In [4]:
from sklearn.datasets import load_iris

In [5]:
from sklearn import metrics

In [6]:
iris = load_iris

In [17]:
from sklearn.neighbors import KNeighborsTransformer

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('/content/sample_data/Iris.csv')

In [20]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [25]:
from sklearn.model_selection import train_test_split

In [43]:
x = df.drop('Species',axis=1)

In [44]:
y = df.Species

In [45]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [47]:
from sklearn.neighbors import KNeighborsClassifier

In [48]:
k = KNeighborsClassifier()

In [49]:
k.fit(x_train,y_train)

KNeighborsClassifier()

In [50]:
k.predict = k.predict(x_test)

In [52]:
from sklearn.metrics import accuracy_score

In [54]:
print(accuracy_score (y_test,k.predict))

1.0